/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 20px;
}

header {
    background-color: #b04aa8;
    padding: 20px;
    color: white;
}

main {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #a886bd;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5d5261;
}

footer {
    margin-top: 30px;
    font-size: 0.9em;
    color: #666;
}
